<div class="container">
<div class="row">
   <blockquote>
      <h2>My Cart <i class="fa fa-shopping-cart"></i></h2>
    </blockquote>
</div>
 <div class="row">
    <div class="col s7">
    <ul class="collection">
      <li class="collection-item avatar" ng-repeat="p in vm.cart.products">
        <img class="circle" ng-src="public/images/{{p.images[0].path}}">
        <span class="title">{{p.name}}</span>
        <p>price: {{p.price  | currency:"THB ฿"}}
          <br>
          qty : {{p.qty}}
          <a href="#" ng-click="vm.plusqty(p)"><i class="fa fa-plus"></i></a>
          /
          <a href="#" ng-click="vm.minusqty(p)"><i class="fa fa-minus"></i></a>
        </p>
        <span class="secondary-content">
          {{ p.qty * p.price  | currency:"THB ฿"}}
        </span>
      </li>

      <li class="collection-item avatar">
        <span class="title"><h5 style="padding-left: 50%;">Sub Total</h5></span>
        <span href="#!" class="secondary-content" style="font-size: 20px;">{{vm.cart.total | currency:"THB ฿"}}</span>
      </li>
      <li class="collection-item avatar">
        <span class="title"><h5 style="padding-left: 50%;">Vat 7%</h5></span>
        <span href="#!" class="secondary-content" style="font-size: 20px;">{{vm.vat | currency:"THB ฿"}}</span>
      </li>

      <li class="collection-item avatar">
        <span class="title"><h5 style="padding-left: 50%;">Grand Total </h5></span>
        <span href="#!" class="secondary-content" style="font-size: 20px;">{{vm.grandtotal | currency:"THB ฿"}}</span>
      </li>


    </ul>
  </div>
  <div class="col s5">
    <div class="row">
         <div class="input-field col s6">
          <input type="text"  ng-model="vm.email">
          <label for="first_name">Email</label>
        </div>
      </div>
    <div class="row">
      <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" ng-model="vm.address"></textarea>
          <label for="textarea1">Address for dilivery</label>
        </div>
    </div>
    <div class="row">
      <div class="col s6">
        <button class="waves-effect waves-light btn" 
        ng-disabled="vm.address==null || vm.email==null"
        ng-click="vm.sendOrder()"><i class="material-icons right">cloud</i>Order</button>
      </div>
    </div>
  </div>
 </div>
</div>