
  <div class="content">
  

    	  <div class="content_bottom">
    	    <div class="wrap">

    	    	<div class="content-bottom-left" ng-include="'public/front_assets/app/template/menu.html'" ng-controller="MenuController as menu">
    	    		
    	    	</div>
    	    	
    	    	<div class="content-bottom-right" ng-controller="ShowProductController as vm"  style="position: relative;">
    	    	<h3>Category : {{vm.currentCat}}    {{vm.sizeOfProducts}} items</h3>
				

				<h1 ng-if="vm.products.length===0">No Product in categories</h1>

		            <div class="section group fade" dir-paginate="products in vm.products | itemsPerPage:2" >
						  <div class="grid_1_of_4 images_1_of_4 " ng-repeat="product in products" >
							 <h4><a href="#/product/{{product.id}}">{{product.name}} </a></h4>
							  <a href="#/product/{{product.id}}"><img ng-src="public/thumnail/{{product.path}}"/  style="    height: 200px;"></a>
							  <div class="price-details">
						       <div class="price-number">
									<p><span class="rupees">{{product.price | currency:"THB	฿"}}</span></p>
							    </div>
							    <div class="add-cart">								
									<h4><a href="#/product/{{product.id}}">More Info</a></h4>
								</div>
								<div class="clear"></div>
							</div>					 
						</div>
					</div>

					 <dir-pagination-controls></dir-pagination-controls>
			
		      </div>
		      <div class="clear"></div>
		   </div>
         </div>
      </div>