<div class="container">
	<div class="row">
		<div class="col s12">
			<h3>Login systems</h3>
		</div>
	</div>
	<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input type="text" ng-model="vm.member.email">
          <label for="first_name">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="password" type="password" ng-model="vm.member.password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
       	<div class="col s4">
       		<a class="waves-effect waves-light btn" ng-click="vm.signin()">Login</a>
       	</div>
      </div>
    </form>
  </div>
</div>