						<div class="categories">
						   <ul>
						  	   <h3>Browse All Categories</h3>
							      <li ng-repeat="m in menu.menus">
							      	<a href="#" ng-click="menu.selectMenu(m)">{{m.name}}</a>
							      </li>

						  	 </ul>
						</div>		
