		<div class="wrap">
			<div class="preview-page">
				<div class="section group">
					<div class="cont-desc span_1_of_2" style="width:100%">
						<ul class="back-links">
							<li><a href="#/index">Home</a> ::</li>
							<li><a href="#/index">Product Page</a> ::</li>
							<li>{{vm.product.name}}</li>
							<div class="clear"> </div>
						</ul>
						<div class="product-details">	
							<div class="grid images_3_of_2">
								<ul id="etalage">
									<li ng-repeat="img in vm.product.images" fi-zoom>
											<img class="etalage_thumb_image" ng-src="public/images/{{img.path}}"  />
											<img class="etalage_source_image" ng-src="public/images/{{img.path}}" />

									</li>
								
								</ul>
							</div>
							<div class="desc span_3_of_2">
								<h2>{{vm.product.name}} / {{vm.product.code}}</h2>
								<p>{{vm.product.detail}}</p>					
								<div class="price">
									<p>Price: <span>{{vm.product.price | currency:"THB	฿"}}</span></p>
								</div>
								<div class="available">
									<ul>
										<li><span>Model:</span> &nbsp; {{vm.product.code}}</li>
									</ul>
								</div>
								<div class="share-desc">
									<div class="button" style="float:left"><span><a href="#" ng-click="vm.addToCart()" style="font-size: 1.85em;"> <i class="fa fa-cart-arrow-down"></i> Add to Cart</a></span></div>					
									<div class="clear"></div>
								</div>

								<div class="colors-share">

									<div class="social-share">
										<h4>Share Product</h4>
										<ul>
											<li><a class="share-face" href="#"> </a></li>
											<li><a class="share-twitter" href="#"> </a></li>
											<li><a class="share-google" href="#"> </a></li>
											<li><a class="share-rss" href="#"> </a></li>
											<div class="clear"> </div>
										</ul>
									</div>
									<div class="clear"></div>
								</div>
							</div>
							<div class="clear"></div>
						</div>

					</div>
				</div>
			</div>




