<div class="container">
	<div class="row">
		<div class="col s12">
			<h3>RegisterUser</h3>
		</div>
	</div>
	<div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input type="text" ng-model="vm.member.email">
          <label for="first_name">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input  type="password" ng-model="vm.member.password">
          <label >Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input type="password" ng-model="vm.member.cpassword">
          <label >ConfrimPassword</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input  type="text" ng-model="vm.member.firstname">
          <label >FirstName</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input  type="text" ng-model="vm.member.lastname">
          <label >LastName</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <textarea id="textarea1" class="materialize-textarea" ng-model="vm.member.address"></textarea>
          <label for="textarea1">Address for dilivery</label>
        </div>
      </div>
      <div class="row">
       	<div class="col s4">
       		<button class="waves-effect waves-light btn" 
          ng-disabled="vm.member.address==null || vm.member.email==null || vm.member.password==null || vm.member.firstname==null" 
          ng-click="vm.save()">Register</button>
       	</div>
      </div>
    </form>
  </div>
</div>