

<div class="uk-grid">
    <div class="uk-width-1-1">

        <h2 style="display:inline">Product Type</h2>
        <input type="text" placeholder="keyword here" class="uk-form-small uk-float-right" ng-model="producttypeVm.keyword" style="  margin-top: 15px; margin-right: 10%;">
    </div>
    <div class="uk-width-1-1">
        <button class="uk-button" open-dialog="create-producttype"><i class="fa fa-plus"></i> Create Product Type</button>
        <div class="uk-overflow-container">
    <table class="uk-table">
        <caption>Product Type Table</caption>
        <thead>
            <tr>
                <th>#</th>
                <th>ProdcutTypeName</th>
                <th>ProductDescription</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr dir-paginate="producttype in producttypeVm.producttypes | itemsPerPage:producttypeVm.dtPageSize | filter: producttypeVm.keyword " current-page="producttypeVm.dtCurrentPage" class="animate-repeat">
                <td>{{ ($index + 1) + (producttypeVm.dtCurrentPage - 1) * producttypeVm.dtPageSize}}</td>
                <td>
                    <span ng-hide="producttypeVm.isEditRow(producttype)">{{producttype.name}}</span>
                    <input type="text" class="uk-form-small" 
                    ng-model="producttypeVm.producttypeTemp.name" 
                    ng-show="producttypeVm.isEditRow(producttype)" 
                    >
                </td>
                <td>
                    <span ng-hide="producttypeVm.isEditRow(producttype)">{{producttype.description}}</span>
                    <input    class="uk-form-small" 
                              type="text" 
                              ng-model="producttypeVm.producttypeTemp.description"
                              ng-show="producttypeVm.isEditRow(producttype)"
                              >
                    </input>
                </td>
                <td>
                    <button class="uk-button" type="button" 
                        ng-hide="producttypeVm.isEditRow(producttype)" 
                        ng-click="producttypeVm.edit(producttype)">
                        <i class="fa fa-pencil-square-o"></i>
                    </button>
                    <button class="uk-button" type="button" ng-show="producttypeVm.isEditRow(producttype)" ng-click="producttypeVm.updateRow()">
                        <i class="fa fa-paper-plane"></i>
                    </button>
                    <button class="uk-button" type="button" ng-show="vm.isEditRow(producttype)" ng-click="producttypeVm.cancel()">
                        <i class="fa fa-times"></i>
                    </button>
                    <button class="uk-button" open-confrim="{{producttype.id}}"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<dir-pagination-controls></dir-pagination-controls>
    </div>
</div>


<div class="uk-modal" id="create-producttype" ng-controller="ProductTypeModalController as modalVm">
    <div class="uk-modal-dialog">
        <div class="uk-modal-header">Create Product Type</div>
        <form class="uk-form">
            <fieldset>
                <legend>Create Product Type Form</legend>
                <div class="uk-form-row">
                    <input class="uk-form" type="text" placeholder="name" ng-model="modalVm.producttype.name">
                </div>
                <div class="uk-form-row">
                    <textarea class="uk-form" type="text" cols="80" rows="15" placeholder="description" ng-model="modalVm.producttype.description"></textarea>
                </div>
            </fieldset>
        </form>
        <div class="uk-modal-footer">
            <button class="uk-button uk-modal-close" ng-click="modalVm.save()">submit</button>
            <button class="uk-button uk-modal-close" ng-click="modalVm.close()">cancel</button>
        </div>
    </div>
</div>