<div class="uk-grid">
	<div class="uk-width-1-1">
		<h2 >Product Create</h2>
		<button class="uk-button" ui-sref="mange.product"><i class="fa fa-arrow-left"></i> Back to Product Mange</button>
		<br>
		<br>
	</div>
	<div class="uk-width-1-1">
	<form class="uk-form" name="pform" novalidate>
		<legend>Create Product Form</legend>
		<div class="uk-grid">
			<div class="uk-width-1-1 uk-clearfix" style="margin-bottom:15px">

				      <div  ng-hide="!vm.thumnail" class="uk-flex uk-container-center">

		                	<figure class="uk-overlay uk-thumbnail uk-thumbnail-mini">
								<img ng-src="public/thumnail/{{vm.thumnail.result.image_name}}" alt="">
								
								<figcaption class="uk-overlay-panel uk-overlay-background">
									<p>thumnail file</p>
									<button ng-click="vm.removeThumnail(vm.thumnail)" class="uk-button"><i class="fa fa-trash"></i></button>
									<div class="uk-progress">
							    	<div class="uk-progress-bar" style="width: {{vm.thumnail.progress}}%" ng-bind="vm.thumnail.progress + '%'"></div>
								</div>
								</figcaption>
								
		                	</figure>
		                </div>

			</div>
			<div class="uk-width-1-1" style="margin-bottom:15px">
				<ul class="uk-thumbnav uk-grid-width-1-5">
					<li ng-repeat="f in vm.images">
						<figure class="uk-overlay uk-thumbnail uk-thumbnail-mini" style="width:150px;height:150px">
							<img ng-src="public/images/{{f.result.image_name}}" alt="">
							<figcaption class="uk-overlay-panel uk-overlay-background">
								<p>imgages file</p>
								<button ng-click="vm.removeImg(f)" class="uk-button"><i class="fa fa-trash"></i></button>
								<div class="uk-progress" ng-hide="{{ f.progress == 100}}">
							    	<div class="uk-progress-bar" style="width: {{f.progress}}%" ng-bind="f.progress + '%'"></div>
								</div> 
							</figcaption>
						</figure>
					</li>
				</ul>
			</div>
			<div class="uk-width-1-1">
		            <fieldset>
		                <div class="uk-form-row">
		                    <input class="uk-form" 
		                    name="name" 
		                    type="text" 
		                    placeholder="product name" 
		                    required
		                    ng-model="vm.product.name"
		                    ng-class="{'uk-form-danger':pform.name.$invalid &&!pform.name.$pristine}"
		                   >
		                 	<span class="uk-form-danger" ng-show="pform.name.$invalid &&!pform.name.$pristine"> field name is required </span>
		                
		                    <input class="uk-form" 
		                    type="text" 
		                    name="code" 
		                    placeholder="product code sku" 
		                    required 
		                    ng-model="vm.product.code"
		                    ng-maxlength="6"
		                    ng-minlength="4"
							ng-class="{'uk-form-danger':pform.code.$invalid &&!pform.code.$pristine}"
		                    >
		                    <span class="uk-form-danger" ng-show="pform.code.$error.maxlength"> field code is max length : 6 </span>
		                    <span class="uk-form-danger" ng-show="pform.code.$error.minlength"> field code is min length : 4 </span>
		                    <span class="uk-form-danger" ng-show="pform.code.$invalid &&!pform.code.$pristine"> field code is required </span>
		               
		                	<input type="text" 
		                	name="price" 
		                	class="uk-form" 
		                	placeholder="product price" 
		                	required
		                	ng-model="vm.product.price"
							ng-class="{'uk-form-danger':pform.price.$invalid &&!pform.price.$pristine}"
		                	>
		                	<span class="uk-form-danger" ng-show="pform.price.$invalid &&!pform.price.$pristine"> field price is required </span>
		                </div>
		                 <div class="uk-form-row">
		                	<select class="uk-form" ng-model="vm.product.product_type" 
		                	ng-options="producttype.id as producttype.name for producttype in vm.producttypes">
		                		<option value="">-- Select ProductType --</option>
			                </select>
		                </div>
		                <div class="uk-form-row">
		                    <textarea class="uk-form" 
		                    name="detail" 
		                    type="text" 
		                    cols="80" 
		                    rows="5" 
		                    placeholder="product detail" 
		                    required
		                    ng-model="vm.product.detail"
							ng-class="{'uk-form-danger':pform.detail.$invalid &&!pform.detail.$pristine}"
		                    ></textarea>
		                    <span class="uk-form-danger" ng-show="pform.detail.$invalid &&!pform.detail.$pristine"> field detail is required </span>
		                </div>
		          
		          <!--       <div class="uk-form-row" ng-hide="!vm.thumnail">
		          	<div class="uk-thumbnail uk-thumbnail-mini">
		          								<img ng-src="public/thumnail/{{vm.thumnail.result.image_name}}" alt="">
		          								<button ng-click="vm.removeThumnail(vm.thumnail)" class="uk-button"><i class="fa fa-trash"></i></button>
		          								<div class="uk-progress">
		          							    	<div class="uk-progress-bar" style="width: {{vm.thumnail.progress}}%" ng-bind="vm.thumnail.progress + '%'"></div>
		          								</div>
		          	</div>
		          </div> -->
		                <div class="uk-form-row">
		                		 <button type="file" ngf-select="vm.uploadThumnail($file, $invalidFiles)"
						          accept="image/*" ngf-max-height="1000" ngf-max-size="1MB" class="uk-button">
						      Select Thumnail</button>
						      <p class="uk-form-help-inline">You can select Thumnail only single file</p>
		                </div>
		                <div class="uk-form-row">
							 <button ngf-select="vm.uploadFiles($files, $invalidFiles)" multiple
						          accept="image/*" ngf-max-height="1000" ngf-max-size="1MB" class="uk-button">
						      Select Images</button>
						      <p class="uk-form-help-inline">You can select images multi file</p>
						</div>
		                <div class="uk-form-row">
		                	<button type="submit" ng-disabled="pform.$invalid" class="uk-button" ng-click="vm.save()">create</button>
		                </div>
		            </fieldset>
			</div>
	<!-- 		<div class="uk-width-1-2">
				<div class="uk-width-1-1" ng-repeat="f in vm.images">
					<div class="uk-thumbnail uk-thumbnail-mini">
						<img ng-src="public/images/{{f.result.image_name}}" alt="">
						<button ng-click="vm.removeImg(f)" class="uk-button"><i class="fa fa-trash"></i></button>
					</div>
					<div class="uk-progress" ng-hide="{{ f.progress == 100}}">
				    	<div class="uk-progress-bar" style="width: {{f.progress}}%" ng-bind="f.progress + '%'"></div>
					</div> 
				</div>
	</div> -->
		</div>
	</form>
	</div>
</div>