
<div style="height: 100%">	
	<div class="uk-grid">
	    <div class="uk-width-large-2-10 uk-width-small-1-1">
			<div class="uk-panel uk-panel-box" style=" border: 0px ;height: 1000px;">
			    <h3 class="uk-panel-title">Navigator</h3>
			    
				<ul class="uk-nav uk-nav-side uk-nav-parent-icon">
					<li class="uk-nav-divider"></li>
					<li ui-sref-active="uk-active"><a ui-sref="mange.dash"><i class="fa fa-tachometer"></i> Dash</a></li>
					<li ui-sref-active="uk-active"><a ui-sref="mange.product"><i class="fa fa-archive"></i> Product Mange</a></li>
					<li ui-sref-active="uk-active"><a ui-sref="mange.producttype"><i class="fa fa-tags"></i> ProductType Mange</a></li>
<!-- 					<li ui-sref-active="uk-active"><a ui-sref="mange.user">
<i class="fa fa-users"></i> User Mange</a></li> -->
				</ul>
			</div>
	    </div>
	    <div class="uk-width-large-8-10 uk-width-small-1-1">
			<nav class="uk-navbar" style="border: 0px ;    background: rgba(255,255,255,.8);" ng-controller="NavBarController as vm">
				     <div class="uk-navbar-flip">
			        <ul class="uk-navbar-nav">
			            <li class="uk-parent"><a href="#" ng-click="vm.logout()">Logout</a></li>
			        </ul>
			    </div>
			</nav>
			<ui-view class="fade"></ui-view>

	    </div>
	</div>

</div>


