<div class="uk-grid">
    <div class="uk-width-1-1">
        <h2 style="display:inline">Product Mange</h2>
        <input type="text" placeholder="keyword here" class="uk-form-small uk-float-right" ng-model="vm.keyword" style="
            margin-top: 15px;
    margin-right: 10%;">
    </div>
    <div class="uk-width-1-1">
        <button class="uk-button" ui-sref="mange.product-create"><i class="fa fa-plus"></i> Create Product</button>
        <div class="uk-overflow-container">
            <table class="uk-table">
                <caption>Product Table</caption>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ProdcutName</th>
                        <th>ProductCode</th>
                        <th>ProductPrice</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr dir-paginate="product in vm.products | itemsPerPage:vm.dtPageSize | filter: vm.keyword " current-page="vm.dtCurrentPage"  class="animate-repeat">
                        <td>{{ ($index + 1) + (vm.dtCurrentPage - 1) * vm.dtPageSize}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.code}}</td>
                        <td>{{product.price | currency:"THB$"}}</td>
                        <td><button class="uk-button" type="button"><i class="fa fa-pencil-square-o"></i></button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <dir-pagination-controls></dir-pagination-controls>
    </div>
</div>